<div class="h-full">
  <div style="display: flex; justify-content: space-between; align-items: center;" class="p-3">
    <div>
        <h1 style="margin-bottom: 5px;">26 Tuesday</h1>
        <p style="margin: 0;">97 Incoming 180 Outgoing</p>
    </div>
    <div class="flex align-middle" style="display: flex; align-items: center; gap: 1.5rem;">
        <input type="text" style="width: 400px; height: 2rem; border-radius: 5px; color: black;">
        <mat-icon style="cursor:pointer; font-size: 2rem; width: 2.5rem; height: 2.5rem; border: 1px solid rgb(96, 97, 96); padding: 3px; border-radius: 5px;">local_mall</mat-icon>
    </div>
  </div>
</div>
