<mat-drawer-container class="booking-container h-full" autosize>
  <mat-drawer
    #drawer
    class="booking-sidenav"
    mode="side"
    position="end"
    [opened]="book"
  >
    <router-outlet></router-outlet>
  </mat-drawer>

  <div class="booking-content h-full container_component">
    <div class="h-full p-3">
      <header style="align-items: center" class="flex justify-between">

        <div>
          <h1 style="margin-bottom: 5px">{{today.date}} {{today.day}}</h1>
          <p style="margin: 0">97 Incoming 180 Outgoing</p>
        </div>

        <div class="flex align-middle" style="align-items: center; gap: 1.5rem">
          @if (!book) {
          <button hlmBtn (click)="book = !book" routerLink="./booking">
            <mat-icon>pending_actions</mat-icon>
          </button>
          }@else {
          <button hlmBtn (click)="book = !book" routerLink="./">
            <mat-icon >cancel</mat-icon>
          </button>
          }
        </div>
      </header>

      <div class="mt-3 ">
        <!-- Controller Header -->
        <div class="flex justify-end gap-2">
          <!-- View Toggle -->
          <div>
            <brn-select class="inline-block" placeholder="Today">
              <hlm-select-trigger class="w-36">
                <hlm-select-value> Today</hlm-select-value>
              </hlm-select-trigger>
              
              <hlm-select-content style="text-align: start;">
                <hlm-option value="Today">Today</hlm-option>
                <hlm-option value="Current_Week">Current Week</hlm-option>
                <hlm-option value="Last_Week">Last Week</hlm-option>
                <hlm-option value="Current_Month">Current Month</hlm-option>
                <hlm-option value="Last_Month">Last Month</hlm-option>
              </hlm-select-content>
            </brn-select>
          </div>
          <div class="border flex items-center gap-1 rounded-sm p-1 border-blue-400">
            <mat-icon matTooltip="Kanban view" [ngClass]="{'active_view': view === 0}">view_kanban</mat-icon>
            <mat-icon matTooltip="List view"  [ngClass]="{'active_view': view === 1}">view_list</mat-icon>
          </div>
        </div>

          <app-table-view [dataSource]="appointmentDataSource" [width]="'1800px'"></app-table-view>
      </div>
    </div>
  </div>
  


</mat-drawer-container>
