<div style="margin-bottom: 1rem" class="px-6">
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card>
</div>

<div class="border-y border-gray-500 p-2">
  <span>Quick Links</span>
</div>

<div class="mt-2 mx-3">
  <a *ngFor="let infoLink of info" [routerLink]="infoLink.url" routerLinkActive="active">
    <div class="my-3 flex gap-3 items-center border p-1 border-gray-600 rounded-sm" >
      <mat-icon class="ml-1">{{ infoLink.icon }}</mat-icon>
      <span>{{ infoLink.name }} </span> 
    </div>
  </a>
</div>
