<mat-drawer-container class="booking-container h-full" autosize>

    <mat-drawer #drawer class="booking-sidenav" mode="side" position="end" [opened]="book">
      <router-outlet></router-outlet>
    </mat-drawer>
  
    <div class="booking-content h-full container_component">
  
      <div class="h-full p-3">
        <header style="align-items: center" class=" flex justify-between">
          <div>
            <h1 style="margin-bottom: 5px">Customer</h1>
            <p style="margin: 0">10 Customer</p>
          </div>
          <div class="flex align-middle" style="align-items: center; gap: 1.5rem">
                @if (!book) {
                  <button hlmBtn (click)="book = !book" routerLink="./customer">
                    <mat-icon>person</mat-icon>
                  </button>
                  }@else {
                  <button hlmBtn (click)="book = !book" routerLink="./">
                    <mat-icon >cancel</mat-icon>
                  </button>
                  }
          </div>
         </header>

         <div class="mt-16">
            <app-table-view [dataSource]="customerDataSource"></app-table-view>
         </div>

      </div>
  
    </div>
  
  </mat-drawer-container>