.title{
    font-size: 12px; font-weight: 600;
}

.font{
    font-family: "Open Sans", sans-serif;
}

.date_card{
    width: 43px;
    height: 45px;
    padding: 0px 5px;
    border-radius: 3px 3px 3px 3px;
    background: rgb(14, 97, 14);
    color: aliceblue;
    text-align: center;
}

.to{
    background-color: rgb(160, 32, 32);
}

.date{
    background-color: whitesmoke;
    color: black;
    border-radius: 3px;
    font-weight: 600;
    font-family: 'Open Sans', Courier, monospace;
}