<div>
    <!-- Customer Info -->
    <div class="flex gap-8 bg-gray-900 p-4">
        <!-- Profile Image -->
        <div class="flex items-center ">
            <img src="../../../../assets/woman_4140053.png" alt="">
        </div>
        <!-- Contact Info -->
        <div>
            <div>
                <p class="text-2xl">Alice</p>
                <p style="margin-bottom: 5px;" class="text-base">Paradox2cr.gmail.com </p>
                <p style="margin-bottom: 5px;" class="text-base">8531837909</p>
            </div>
            <div class="flex gap-4">
                <button mat-button mat-stroked-button >Add Tags</button>
                <button mat-button mat-stroked-button color="warn">Remove</button>
            </div>
        </div>
        
    </div>
    <div class="p-2">
        <mat-accordion class="example-headers-align" multi>

            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
                <mat-panel-description>
                    Customer Info
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Appointments
                </mat-panel-title>
                <mat-panel-description>
                  -
                  <mat-icon>map</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Invoice
                </mat-panel-title>
                <mat-panel-description>
                  -
                  <mat-icon>date_range</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Pets
                  </mat-panel-title>
                  <mat-panel-description>
                    -
                    <mat-icon>date_range</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Packages
                  </mat-panel-title>
                  <mat-panel-description>
                    -
                    <mat-icon>date_range</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Membership
                  </mat-panel-title>
                  <mat-panel-description>
                    -
                    <mat-icon>date_range</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Credits
                  </mat-panel-title>
                  <mat-panel-description>
                    -
                    <mat-icon>date_range</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    eGift Card
                  </mat-panel-title>
                  <mat-panel-description>
                    -
                    <mat-icon>date_range</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

          </mat-accordion>
    </div>

</div>