<div style="display: flex; position: fixed; gap: 16px">
    
  <div class="w-12 border-r border-sky-100 flex flex-col" style="height: 100vh; justify-content: space-between;">
    <div class="flex flex-col gap-5 mt-4" style="align-items: center;">
        <mat-icon>home_app_logo</mat-icon>
        <mat-icon>event_available</mat-icon>
        <mat-icon>settings</mat-icon>
    </div>

    <div class="flex flex-col gap-5 mb-5 " style="align-items: center;">
        <mat-icon>bar_chart_4_bars</mat-icon>
        <mat-icon>account_box</mat-icon>
    </div>
  </div>

  <app-side-info style="width: 230px"></app-side-info>
  
</div>
