<div style="display: flex; position: fixed; gap: 16px">
    
  <div class="w-12 flex flex-col" style="height: 100vh; justify-content: space-between;background: #181f27;">
    <div class="flex flex-col gap-5 mt-4" style="align-items: center;">
        <mat-icon>storefront</mat-icon>
        <mat-icon>event_available</mat-icon>
        <mat-icon>settings</mat-icon>
    </div>

    <div class="flex flex-col gap-5 mb-5 " style="align-items: center;">
        <mat-icon>bar_chart_4_bars</mat-icon>
        <mat-icon>account_box</mat-icon>
    </div>

  </div>

  
</div>
