<mat-drawer-container style="width: 100%; height: 100vh">

  <mat-drawer mode="side" opened class="base_nav">
    <app-side-nav></app-side-nav>
  </mat-drawer>

  <mat-drawer-content class="login_ad" style="display: flex;">

    <div style="width: 310px !important;height: 100vh; display: flex; flex-direction: column; background: #27313e;" class="border-r border-gray-500 py-4">
        <app-side-info></app-side-info>
        
        <div class="border-y border-gray-500 p-2">
            <span>Quick Links</span>
        </div>

        <div class="mt-2 mx-3">
            <div class="my-3">Link 1</div>
            <div class="my-3">Link 1</div>
            <div class="my-3">Link 1</div>
            <div class="my-3">Link 1</div>
        </div>

    </div>

    <div style="width: 100%;">
        <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>

</mat-drawer-container>
