<mat-drawer-container style="width: 100%; height: 100vh">

  <mat-drawer mode="side" opened class="base_nav">
    <app-side-nav  [navElements]="navElements$ | async"></app-side-nav>
  </mat-drawer>

  <mat-drawer-content class="login_ad" style="display: flex">
    <div
      style="
        width: 280px !important;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #27313e;
      "
      class="border-r border-gray-500 py-4"
    >
      <app-side-info></app-side-info>
    </div>

    <div style="width: calc(100% - 280px)">
      <router-outlet></router-outlet>
    </div>
    
  </mat-drawer-content>
</mat-drawer-container>
